.log,
.reg {
    .el-form-item__label {
        font-size: 12px;
        color: #fff;
    }

    .el-input__inner {
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff;
    }
}

.weight {
    .el-select {
        width: 280px;
    }

    .el-dialog__body {
        padding-bottom: 0;
    }

    .el-input-group--append {
        width: 280px;
    }

    .el-input-group__append {
        width: 62px;
    }

    .weight_cb .el-button + .el-button {
        margin-left: 0;
        margin-top: 20px;
    }

    .el-date-editor.el-input {
        width: 280px;
    }

    // &_weight {
    //     .el-dialog__body {
    //         padding-bottom: 20px;
    //         width: 70%;
    //         margin: auto;
    //     }

    //     .el-input-group--append {
    //         width: 100%;
    //     }
    //     .el-date-editor--datetime {
    //         width: 100%;
    //         margin-bottom: 15px;
    //     }
    // }
}
