// .log,
// .reg {
//     .el-form-item__label {
//         font-size: 12px;
//         color: #fff;
//     }

//     .el-input__inner {
//         background-color: rgba(255, 255, 255, 0.2);
//         color: #fff;
//     }
// }

.weight {
    .el-select {
        width: 280px;
    }

    .el-dialog__body {
        padding-bottom: 0;
    }

    .el-input-group--append {
        width: 280px;
    }

    .el-input-group__append {
        width: 62px;
    }

    .weight_cb .el-button + .el-button {
        margin-left: 0;
        margin-top: 20px;
    }

    .el-date-editor.el-input {
        width: 280px;
    }
}
.blog{
  .el-tree{
    color: $black;
    background-color: transparent;
    &-node{
      &__expand-icon{
        color: rgba($black,.8);
      }
      &__content{
        cursor: $pointer;
        &:hover,&:focus>.el-tree-node__content{
          background-color: rgba($green,.08);
        }
      }
    }
    &--highlight-current .el-tree-node.is-current>.el-tree-node__content{
      background-color: rgba($green,.12);
    }
  }
  
  .el-tag{
    cursor: $pointer;
    .el-icon-close{
      cursor: $pointer!important;
    }
  }
  .v-note-wrapper{
    min-height:calc(100vh - 61px - 140px)!important;
          }
}